# Frontend (React)
frontend/build/
frontend/node_modules/
frontend/.env
frontend/.next/
frontend/.cache/
frontend/coverage/
frontend/dist/
frontend/tmp/
frontend/.vscode/
frontend/.DS_Store

# Backend (FastAPI)
backend/__pycache__
backend/*/__pycache__
backend/.env
backend/.cache/
backend/coverage/
backend/dist/
backend/tmp/
backend/.vscode/
backend/*.db/
backend/.DS_Store
backend/venv
backend/results
backend/uploads/pems

# Logs
*.log

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build output
*.build/
*.out/

# Misc
*.swp
*.swo
*.swn
*.tmp
*.temp

# Git files
.git/